name: Create a next vatz discussion & milestone
on: 
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1" # Every Monday at 11 a.m(KST).

jobs:
  create-bi-weekly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check creation date # Step to determine if this is the second week because you have to create a 'Discussion & Milestone' every two weeks
        run: |
          due_date=`curl -Ls \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "${{ env.URL }}" | jq 'sort_by(.id)' | jq .[length-1].due_on | sed 's/"//g'`
          target_date=$(date -d "$due_date" +%Y-%m-%d)
          today=$(date +%Y-%m-%d)
          if [[ "$target_date" == "$today" ]]; then
            echo "The dates are equal."
          else 
            echo "The dates are different."
            exit 1
          fi
      - name: Set env variable # Generate values for all steps
        run: |
          echo "DUE_DATE=$(date --date='+14 days' +%Y-%m-%d)" >> $GITHUB_ENV
          echo "DUE_DATE_LONG=$(date --date='+14 days' +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_ENV
          current_number=`curl -Ls \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "${{ env.URL }}" | jq 'sort_by(.id)' | jq .[length-1].title | sed 's/"//g' | awk '{print $2}'`
          echo "NEXT_MILESTONE_NUMBER=$(( current_number + 1 ))" >> $GITHUB_ENV
      - name: Generate new discussion
        id: create-discussion
        uses: abirismyname/create-discussion@v1.1.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
        with:
          title: "${{ env.NEXT_MILESTONE_NUMBER }}. VATZ biweekly meeting at ${{ env.DUE_DATE }}"
          body: |
            ### 1. Overall
            ### 2. Statistic Rate
             
            Sprint | Issue fulfillment | progress rate(%)
            --: | :--: | :--:
            
          repository-id: "${{ secrets.DISCUSSION_REPO_ID }}"
          category-id: "${{ secrets.DISCUSSION_CATE_ID }}"

      - name: Generate new milestone
        id: create-milestone
        run: |
          echo "Due Date: ${{ env.DUE_DATE }}"
          echo "Next milestone number: ${{ env.NEXT_MILESTONE_NUMBER }}"
          curl -s \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "${{ env.URL }}" \
            -d '{"title":"Sprint '${{ env.NEXT_MILESTONE_NUMBER }}' (~ '${{ env.DUE_DATE }}')","description":" ","state":"open","due_on":"'${{ env.DUE_DATE_LONG }}'"}'
